@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*=========
 Variables
==========*/
:root {
    --darkBlue: hsl(217, 19%, 35%);
    --mediumBlue: hsl(214, 17%, 51%);
    --lightBlue: hsl(212, 23%, 69%);
    --lightGreyBlue: hsl(210, 46%, 95%);
}

/*===========
 Base Rulers
============*/

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    font-size: 81.25%;
    font-family: Manrope, sans-serif;
    background-color: var(--lightGreyBlue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 85%;
    height: 75%;
    max-width: calc(25em);
    max-height: calc(35em);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

    @media(min-width: 800px) {
        flex-direction: row;
        width: 50%;
        height: 35%;
        min-width: calc(54em);
        min-height: calc(21.75em);
        justify-content: center;
        overflow: visible;
        z-index: 1;
    }
}

/*=============
 Funcionalities
=============*/

.split {
    display: flex;
}

/*=======
 Layout
========*/

.img-section {
    width: 100%;
    height: 40%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(min-width: 800px) {
        max-width: 40%;
        height: 100%;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        overflow: hidden;
        z-index: 2;
    }
}

.container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.info-section,
.review-section {
    width: 85%;
}

.info-section {
    height: auto;
}

.title,
.sub-info {
    height: auto;
}

.title {
    margin-top: 3em;
    margin-bottom: 1em;
    color: var(--darkBlue);
    font-size: 0.8em;

    @media(min-width: 800px) {
        margin-top: 2em;
        font-size: 1em;
    }
}

.sub-info {
    color: var(--mediumBlue);
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;

    @media(min-width: 800px) {
        margin-bottom: 1.5em;
    }
}

.review-section {
    height: 20%;
    padding-bottom: 3em;
    padding-top: 1.5em;
    transition: width .5s, opacity .5s;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;

    @media(min-width: 800px) {
        padding: 0;
        margin-bottom: 0
    }
}

.share-section {
    height: 20%;
    width: 0%;
    opacity: 0;
    padding: 1em 2em 3em 2em;
    position: relative;
    bottom: 18.6%;
    left: 0;
    background-color: var(--darkBlue);
    transition: width .5s, opacity .5s, z-index .5s;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    z-index: -1;

    
    @media (min-width: 800px) {
        width: 55%;
        height: 20%;
        bottom: 40%;
        left: 35%;
        border-radius: 10px;
        padding: 1em 1.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.5;
        box-shadow: -1px 3px 10px rgba(0, 0, 0, .2);
        transition: opacity .5s;
        z-index: 0;
        opacity: 0;
    }
}

.attribution { 
    font-size: 11px;
    text-align: center;
    
    a {
        color: hsl(228, 45%, 44%); 
    }
}

/*========
 Elements
=========*/

.review-section img {
    width: 70%;
    max-width: 3em;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    place-self: center start;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.name {
    color: var(--darkBlue);
    font-weight: 700;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    place-self: end start;

    @media(min-width: 800px) {
        margin-left: -3em;
    }
}

.date {
    color: var(--lightBlue);
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @media(min-width: 800px) {
        margin-left: -3em;
    }
}

.share-btn-container {
    background-color: var(--lightGreyBlue);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    place-self: center end;
    cursor: pointer;

    svg {
        fill: #6E8098;
    }

    @media(min-width: 800px) {
        transition: background-color .5s;

        svg {
            transition: fill .5s;
        }
    }
}

.share-section {
    p {
        color: var(--lightBlue);
        text-transform: uppercase;
        letter-spacing: .5em;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        place-self: center center;
    }

    ul {
        list-style: none;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        place-self: center center;
    }

    li {
        margin-right: 1em;
    }
    
    .share-btn-container {
        background-color: var(--mediumBlue);
        width: 3em;
        height: 3em;
        margin-left: .1em;
        border-radius: 50%;
        display: grid;
        place-content: center;
        grid-column: 3 / 5;
        place-self: center center;
        cursor: pointer;
    }

    .triangle {
        display: none;
    }

    @media(min-width: 800px) {
        .share-btn-container {
            display: none;
        }

        p {
            place-self: center end;
        }

        li {
            place-self: center start;
        }

        .triangle {
            display: inline;
            width: 30px;
            height: 15px;
            background-color: inherit;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            transform: rotate(180deg);
            position: relative;
            top: 100%;
            left: 115%;
        }
    }
}

/*====
 States
=====*/

.share-section.shift {
    width: 100%;
    opacity: 1;
    z-index: 1;

    @media(min-width: 800px) {
        width: auto;
        opacity: 1;
        z-index: 2;
    }
}

.review-section.shift {
    width: 0%;
    opacity: 0;

    @media(min-width: 800px) {
        width: 85%;
        opacity: 1;
    }
}

@media(min-width: 800px) {
    .share-btn-container.shift {
        background-color: var(--mediumBlue);
        
        svg {
            fill: #fff;
        }
    }
}